<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @recipient.email %>,</h1>
    <p>
      New update<br>
    </p>
    <p>
      <%= @update.name %>
      <%= @update.details %>
    </p>
  </body>
</html>