<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= @app_name %>, <%= @recipient %></h1>
    <p>
      You have successfully subscribed to <%= @app_name %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>