<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Unsubsribed successfully</h1>
    <p>
      You have successfully unsubscribed from <%= @app_name %>.
    </p>
    <p>Hope to see you again</p>
  </body>
</html>